.header {
  padding: 0 15px;
  background: var(--white);
  height : 8vh;

  &__icon {
    font-size: 20px;
  }

  &__menu {
    margin-right: 10px;

    span {
      font-size: 20px;
    }
  }

  &__row {
    flex-decoration: space-betwen;
  }

  &__logout-btn {
    margin-left: 0;
    margin: 0 auto;
  }
}
